<div class="news">
  {% unless include.hide_title %}
  <h2 id="news">News</h2>
  {% endunless %}


  {% if site.news %}
    {%- assign grouped = site.news | reverse
                     | group_by_exp: "p", "p.date | date: '%b %Y'" -%}

    <div class="timeline">
      {% for g in grouped %}
        {% for p in g.items limit: site.news_limit %}
        <div class="tl-row">
          <!-- 只有该月第一条显示日期 -->
          <div class="tl-date">
            {% if forloop.first %}{{ g.name }}{% endif %}
          </div>

          <div class="tl-content">
            {% if p.inline %}
              {{ p.content | remove:'<p>' | remove:'</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ p.url | relative_url }}">
                {{ p.title }}
              </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  {% else %}
    <p>No news so far…</p>
  {% endif %}
</div>
