/* 在 navigation 中给 “/teams/” 这个链接追加一个图标 */
.navbar-nav .nav-item a[href="/teams/"]::after {
  content: "";
  display: inline-block;
  width: 15px;           /* 根据需要调大小 */
  height: 15px;
  margin-left: 2px;
  background: url("/assets/img/lumi_logo.png") no-repeat center/contain;
}


/* 让导航栏里的 LUMI Lab 变成斜体（仅此而已） */
.navbar-nav .nav-item a[href="/teams/"] {
  font-style: italic;
}

.navbar-nav .nav-item a[href="/teams/"] {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: rgba(21,153,87,.35);
}
